// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;

$primary-font: 'Poppins', sans-serif;
$off-white: #f2f2f2;
$opaque-white: rgb(242 242 242 / 50%);
$dark-teal: #164A48;
$medium-teal: #177269;
$opaque-teal: rgb(22 74 72 / 70%);
$light-teal: #A2C3B8;
$salmon: #D94A4A;
