/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: $primary-font;
}

body {
  // background: $off-white;
  // background-repeat: no-repeat;
  height: 100%;
  // text-align: center;
  // width: 100vw;
  margin: 0%;
  background-image: url(https://images.pexels.com/photos/1705253/pexels-photo-1705253.jpeg?cs=srgb&dl=pexels-damon-hall-1705253.jpg&fm=jpg);
  // object-fit: cover;
  // object-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: $opaque-teal;
  color: $off-white;
  float: left;
  width: 100%;
}

nav {
  margin: 2% 0 0 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: $primary-font;
  font-size: 3em;
  margin: 2%;
}

button {
  cursor: pointer;
  margin: 2%;
  padding: .5% 2%;
  border-radius: 100px;
  font-size: 1.2em;
  border: 1px solid $medium-teal;
  background-color: $off-white;
  color: $dark-teal;

  &:hover {
    background-color: $light-teal;
    color: $off-white;
    border: 1px solid $light-teal;
  }
}

main {
  text-align: center;
  padding: 20%;
}

.booking-section {
  background-color: $off-white;
  text-align: center;
}

.booking-form {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $opaque-white;
  padding: 10%;
  width: 40%;
}

label {
  color: $dark-teal;
  font-size: 1.2em;
}

input, select {
  margin: 2% 0 10% 0;
  color: $medium-teal;
  background-color: #off-white;
  font-size: 1em;
}
